.git
.github
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/*.json
storage/**/*.json
*firebase*.json
tests
CAPITULO9_RECOLECCION_*
database/scripts/*_backup_antes_fechas.sql

public/build
public/hot

!public/icons/
!public/icons/**
!public/offline.html
!public/manifest.webmanifest
!resources/js/sw.js
